extends ../layout.pug

block contentBody
  tbody
    tr(style='box-shadow: 0px 4px 20px rgb(0 0 0 / 8%)')
      td
        table(width='100%' border='0' cellpadding='0' cellspacing='0')
          tbody
            tr
              td.logo(align='left' valign='top' style='padding-top: 20px; padding-right: 30px; padding-bottom: 20px; padding-left: 30px;')
                img(src='https://564722.selcdn.ru/dev-qvedo-api-media-images/f5cfd890-7f96-4b31-9fe3-236601ddb79c.s.png' alt='Qvedo' border='0' width='138px' height='30px' style='display: block;')
              td(align='right')
                center
                  table.header-right(width='100%' border='0' cellpadding='0' cellspacing='0' style='padding-top: 16px; padding-bottom: 16px; padding-right: 30px; padding-left: 0; margin: 0; width: 100%;')
                    tbody
                      tr
                        td(align='right' style='font-family: Arial,sans-serif; font-size: 12px; color: #3C3C47;')
                          span#name(style='vertical-align: top; width: 157px; display: inline-block; text-align: left;')
                            | #{firstName}
                            | #{lastName}
                          span#points(style='width: 151px; display: inline-block; text-align: right;')
                            b #{bonus}
                            | бонусов
                            |                                 на счету
                            br
                            a.login-desctop(href='#' style='color: #24B0FF; padding-top: 10px; display: inline-block; text-decoration: underline;')
                              | Перейти
                              | в личный кабинет
                            a.login-mobile(href='#' style='color: #24B0FF; display: none; font-size: 9px; text-decoration: underline;')
                              | Войти
                              img(src='https://564722.selcdn.ru/stg-qvedo-api-media-images/195d3bc9-1e94-4fba-b9c2-32efb55c9d47.m.png' alt='' width='10px' height='10px' style='vertical-align: bottom;')
    tr
      td(align='center' style='color: #ffffff; text-align: center; width: 100%;')
        table.hero(border='0' cellpadding='0' cellspacing='0' style='margin: 0; width: 100%; background-image: url(https://564722.selcdn.ru/stg-qvedo-api-media-images/d6ad75ef-b5df-48af-85ee-20eee22cc0a7.m.png);')
          tbody
            tr
              td
                h1 Получите скидку на тур в Индию строка 2 при необходимости
            tr
              td
                p(style='font-family: Verdana, sans-serif;') Подзаголовок если необходимо
            tr
              td
                a.btn(href='#' style='color: #ffffff;') Кнопка 3
    tr
      td
        table.table-text(width='100%' border='0' cellpadding='0' cellspacing='0')
          tbody
            tr
              td
                table(width='100%' border='0' cellpadding='0' cellspacing='0' style='padding: 0;')
                  tbody
                    tr
                      td
                        h2(style='color: #3C3C47;') Заголовок H2 Абзац 1
                        p(style='color: #3C3C47;')
                          | Не следует, однако забывать, что новая модель организационной деятельности обеспечивает
                          | широкому кругу (специалистов) участие в формировании дальнейших направлений развития.
                          | Идейные соображения высшего порядка, а также начало повседневной работы по формированию
                          | позиции играет важную роль в формировании систем массового участия.
                        p(style='color: #3C3C47;')
                          | Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности в
                          | значительной степени обуславливает создание системы обучения кадров, соответствует
                          | насущным потребностям. Разнообразный и богатый опыт постоянное
                          | информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа
                          | системы обучения кадров, соответствует насущным потребностям. Товарищи! постоянный
                          | количественный рост и сфера нашей активности позволяет оценить значение систем массового
                          | участия.Товарищи! постоянный количественный рост и сфера нашей активности позволяет
                          | оценить значение систем массового участия.
                        a.btn.btn--black(href='#' style='color: #ffffff;') Кнопка 1
                        hr(align='center' width='68%')
            tr
              td
                table(width='100%' border='0' cellpadding='0' cellspacing='0' style='padding: 0;')
                  tbody
                    tr
                      th(colspan='2')
                        h2(style='color: #3C3C47;') Заголовок H2 Абзац 2
                    tr
                      td
                        p.text.text--right(style='color: #3C3C47;')
                          | Не следует, однако забывать, что новая модель организационной
                          | деятельности обеспечивает широкому кругу (специалистов) участие в формировании дальнейших
                          | направлений развития. Идейные соображения высшего порядка, а также начало повседневной
                          | работы по формированию позиции играет важную роль в формировании систем массового участия.
                        a.btn.btn--black(href='#' style='color: #ffffff;') Кнопка 1
                      td.image(style='vertical-align: top;')
                        img(src='https://564722.selcdn.ru/stg-qvedo-api-media-images/cd40ebb7-cc2c-42d2-aa53-04c99bb010ba.m.png' alt='' width='130px' height='204px')
            tr
              td
                hr(align='center' width='68%')
    tr
      td
        table.table-text(width='100%' border='0' cellpadding='0' cellspacing='0' style='padding-top: 0px;')
          tbody
            tr
              td
                h3
                  | Заголовок списка
                ol(style='color: #3C3C47;')
                  li
                    | Не следует, однако забывать, что новая модель организационной деятельности обеспечивает
                    | широкому кругу (специалистов) участие в формировании дальнейших направлений развития.
                  li Не следует, однако забывать, что новая модель организационной
                  li Не следует, однако забывать, что новая модель
                  li Специалистов участие в формировании дальнейших направлений развития.
                hr(align='center' width='68%')
            tr
              td
                p(style='text-align: center; margin-bottom: 0; text-indent: 0; font-family: Arial, sans-serif; line-height: 1.15;')
                  small(style='color: #3C3C47;')
                    | Обращение, второстипенный текст Обращение, второстипенный текст Обращение, второстипенный
                    | текст Обращение, второстипенный текст Обращение, второстипенный текст Обращение,
                    | второстипенный текст Обращение, второстипенный текст Обращение, второстипенный текст
                    | Обращение, второстипенный текст Обращение, второстипенный текст Обращение, второстипенный
                    | текст Обращение, второстипенный текст Обращение, второстипенный текст Обращение,
                    | второстипенный текст Обращение, второстипенный текст
                hr(align='center' width='68%')
    tr
      td
        .table-style
          div
            table(width='100%' border='0' cellpadding='0' cellspacing='0' style='color: #3C3C47;')
              thead(style='background-color: #24B0FF; margin-bottom: 10px; display: block;')
                tr
                  td(colspan='2')
                    h4(style='color: #fff')
                      | Заголовок таблицы №2
              tbody
                tr
                  td(align='center')
                    div
                      span(style='text-align: left;') Сумма
                      span(style='text-align: right;') #{transaction_amount} ₽
                tr
                  td(align='center')
                    div
                      span(style='text-align: left;') Дата и время операции
                      span(style='text-align: right;') #{transaction_date} #{transaction_time}
                tr
                  td(align='center')
                    div
                      span(style='text-align: left;') Номер транзакции
                      span(style='text-align: right;') #{transaction_id}
                tr
                  td(align='center')
                    div
                      span(style='text-align: left;') Способ оплаты
                      span(style='text-align: right;') #{transaction_way}
                tr
                  td(align='center')
                    div
                      span(style='text-align: left;') Номер карты
                      span(style='text-align: right;') #{card_number}
        hr(align='center' width='68%')
    tr
      td
        table.table(width='100%' border='0' cellpadding='0' cellspacing='0' style='padding-top: 20px; padding-bottom: 0px; padding-right: 30px; padding-left: 30px;')
          thead
            tr
              td(colspan='4') Простая таблица 1
          tbody(style='color: #3C3C47;')
            tr
              th Колонка 1
              th Колонка 2
              th Колонка 3
              th Колонка 4
            tr
              td Тур для вас
              td Франция
              td 13 000 $
              td Германия
            tr
              td Тур для вас
              td Франция
              td 13 000 $
              td Германия
            tr
              td Тур для вас
              td Франция
              td 13 000 $
              td Германия
            tr
              td Тур для вас
              td Франция
              td 13 000 $
              td Германия
    tr
      td
        hr(align='center' width='68%' style='margin-bottom: 20px;')
block contentFooter
  include ../partials/footer.pug
